* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* max-width: 1140px;
    margin: 0 auto; */
}
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    margin-bottom: 166px;
}
.banner{
    /* display: flex; */
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content-right{
    padding-top: 216px;
    padding-left: 1100px;
    padding-right: 230px;
}
.banner-heading{
    color: white;
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;

}
.banner-p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 32px;

}
/* Person seccess  */
.person-sucess{
    display: flex;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto; 
    padding-top: 130px;
    align-items: center;
    /* justify-content: space-between; */
    
}
.failur-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 24px;
}
.person-contanir{
    padding-left: 90px;  
    padding-right: 100px;
}
.person-long-p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
padding-bottom: 16px;
text-align: justify;
}
.person-all-p{
    gap: 8px;
}

/* My Plan Section  */
.MyPlans{
    margin-top: 130px;
}
.plan-tittle{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.myplans-box{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    
}
.myplans-box-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    padding-top: 24px;
}
.myplans-box-desc{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-top: 16px;
}

/* Gradient Background overlay Section  */
.gradient-bg{
    margin-top: 135px;
    margin-bottom: 130px;
    background-image: url('images/watch.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 1140px;
    height: 300px;

    max-width: 1140px;
}
.gradient-bg-box{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 65px;
    max-width: 1140px;
}
.gradient-bg-title{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.gradient-bg-btn{
    margin-top: 24px;
    padding: 20px 36px;
    font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #005FAC;
background: white;
border: none;
border-radius: 10px;
}
 
/* from section ///////////////////////////////////////////////// */


.footer{
    background: #151414;
}
.footer-bg{
    display: flex;
    padding: 130px 230px;
    
}
.footer-bg-title{
    font-weight: 700;  
    font-size: 45px;
    color: white;
    /* padding-top: 130px; */
    padding-bottom: 16px;
}
.footer-bg-p-long{
    font-weight: 400;
    font-size: 16px;
    color:white;
    padding-bottom: 24px;
    padding-right: 630px;
}
.footer-bg-email{
    color: white;
    padding-bottom: 16px;
}
.footer-bg-phone{
    color: white;
    padding-bottom: 32px;
}
.socialmedia-icon a{
    text-decoration: none;
    white-space: 15px;
    
}
.subscribe-section input{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px ;
}
.input-text{
    margin-top: 30px;
    border: solid white 5px;
    
}
.subscribe-bg-title{
    font-weight: 600;
font-size: 25px;
color: white;
}
.subscribe-bg-btn{
    font-weight: 600;
font-size: 20px;
background: #005FAC;
color: white;
padding: 20px 35px;
border: none;
border-radius: 10px;
}